In [15]:
import pandas as pd
import re

In [6]:
keyword = pd.read_csv('../../morning_exercises/shopee challenge_Round 1/Keyword_spam_question.csv', index_col = 'index')

In [13]:
keyword.head(20)

                                                    name
index
0            IZRA Cotton Milky Gray Blouse + Skirt Putih
1            (Coral Red) IZRA BOUTIQUE Baju Kurung Moden
2                  (Red) IZRA BOUTIQUE Baju Kurung Moden
3      (Peach) IZRA BOUTIQUE Baju Kurung Moden With P...
4                (Black) IZRA BOUTIQUE Baju Kurung Moden
5                        [Single]Single Air Bed Mattress
6            2- in-1  Air Bed Mattress With Sleeping Bag
7            [Single] Inflatable Single Air Bed Mattress
8                [Double] Easigo Double Air Bed Mattress
9            [Double] Inflatable Double Air Bed Mattress
10          High Raise Inflatable Queen Air Bed Mattress
11         [Single] Color-Splash Air Bed Single Mattress
12                        6ft Aquarium 3 Rings Kids Pool
13     IInflatable 2In1 Air Camping Bed Mattress Mat ...
14                  Jilong inflatable Air Arm Chair Sofa
15               ThJilong inflatable Air Side Chair Sofa
16     ðŸ”¥âœ”READY STOKâœ”ðŸ”¥Portable Handheld Car Vacuum Cle...
17        JILONG Multifunctional Inflatable Air Sofa Bed
18           Suuntooo jam tangan berjenama digital watch
19     Pulse Sports Watch with Heart Rate Monitor and...

In [9]:
substr = pd.read_csv('../../morning_exercises/shopee challenge_Round 1/Extra Material 2 - keyword list_with substring.csv', index_col = 'Group')

In [10]:
substr.head()

                           Keywords
Group
0                      coat, jacket
1                            blazer
2      hoodies, sweater, sweatshirt
3                              vest
4                          cardigan

In [11]:
mismatch = pd.read_csv('../../morning_exercises/shopee challenge_Round 1/Extra Material 3 - mismatch list.csv')

In [12]:
mismatch.head()

,jam,pencil,table,scale,ring,caps,band,basketball,football
0,watch,skirt,tennis,fish,phone,thumb stick,mi,shirt,shirt
1,NaN,NaN,NaN,NaN,case,joystick,huawei,t-shirt,t-shirt
2,NaN,NaN,NaN,NaN,light,keyboard,smartwatch,shorts,shorts
3,NaN,NaN,NaN,NaN,binder,NaN,smart watch,jersey,jersey

In [22]:
keyword.()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800000 entries, 0 to 799999
Data columns (total 1 columns):
name    800000 non-null object
dtypes: object(1)
memory usage: 12.2+ MB

In [26]:
keyword['objtype'] = [0 if type(x) == 'str64' else 1 for x in keyword['name']]

In [29]:
keyword.head(20)

                                                    name  objtype
index
0            IZRA Cotton Milky Gray Blouse + Skirt Putih        1
1            (Coral Red) IZRA BOUTIQUE Baju Kurung Moden        1
2                  (Red) IZRA BOUTIQUE Baju Kurung Moden        1
3      (Peach) IZRA BOUTIQUE Baju Kurung Moden With P...        1
4                (Black) IZRA BOUTIQUE Baju Kurung Moden        1
5                        [Single]Single Air Bed Mattress        1
6            2- in-1  Air Bed Mattress With Sleeping Bag        1
7            [Single] Inflatable Single Air Bed Mattress        1
8                [Double] Easigo Double Air Bed Mattress        1
9            [Double] Inflatable Double Air Bed Mattress        1
10          High Raise Inflatable Queen Air Bed Mattress        1
11         [Single] Color-Splash Air Bed Single Mattress        1
12                        6ft Aquarium 3 Rings Kids Pool        1
13     IInflatable 2In1 Air Camping Bed Mattress Mat ...        1
14                  Jilong inflatable Air Arm Chair Sofa        1
15               ThJilong inflatable Air Side Chair Sofa        1
16     ðŸ”¥âœ”READY STOKâœ”ðŸ”¥Portable Handheld Car Vacuum Cle...        1
17        JILONG Multifunctional Inflatable Air Sofa Bed        1
18           Suuntooo jam tangan berjenama digital watch        1
19     Pulse Sports Watch with Heart Rate Monitor and...        1

In [27]:
keyword['objtype'].value_counts()

1    800000
Name: objtype, dtype: int64

In [18]:
keyword_re = re.sub("[^a-zA-Z]", "", keyword)
keyword_re.head(20)

TypeError: expected string or bytes-like object